a#search, .col.up {
    margin-top: 30px;
}
li span:nth-child(even) {
    color: aqua;
}
body>.container {
    width: auto;
    padding: 50px;
    padding-top: 100px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
nav .nav-wrapper {
    height: 100%;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.linklabels text {
  pointer-events: none;
  font-size: 12px;
  fill: #aaa;
}

.nodelabels text {
  pointer-events: none;
  font-size: 15px;
  fill: #555;
}

.links path {
  pointer-events: none;
  stroke: grey;
  fill: none;
  stroke-width: 2px;
}

.nodes circle {
  pointer-events: all;
  stroke: grey;
  stroke-width: 2px;
}
